<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://www.grayland.top/AppRes/GLWeChat.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>http://www.grayland.top/AppRes/Image57.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string>http://www.grayland.top/AppRes/Image512.png</string>
</dict>。